<!Doctype html>
<html>
     <head>
          <title>Add Book</title>
     </head>  
     <body>
          <a href="/">Home</a>
          <h1>Add Book</h1>
          <form method="post"  enctype="multipart/form-data" action="/books/add">
            <input type="text" name="name" placeholder="Enter your name here"/><br/>
            <input id="image" name="image" type="file"><br/>
            <input type="submit" value="Upload">
            
        </form>
     </body>
</html>