<!Doctype html>
<html>
    <head>
        <title>BOOK STORE</title>
    </head>
    <body>
        <h1>BOOKS</h1>
        <p>Tasks</p>
        <a href="/books">View Books</a><br/>
        <a href="/books/add">Add New book</a>
    </body>
</html>